body{
    font-family: "Roboto","Arial", "Helvetica", sans-serif;
    color:#333333;

}
header{
    position: relative;
}
/*-------------OPÇÕES ---------*/
.menu-opcoes{
    position: absolute;
    bottom: 0;
    right: 0;
}
.menu a:before{
    content: " [";
}
.menu a:after{
    content: "]";
}
.menu-opcoes a:hover{
    color:#1f9fe9;
}

.menu-opcoes a:active{
    color:#867dc6;
}


.menu-opcoes ul li{
    display: inline;    
    margin-left: 20px;
    font: size 15px;
}
.menu-opcoes a{
    
    color:#003366;
}
/*-------------DEPARTAMENTOS ---------*/

.menu-departamentos{    
    float: left;
    clear:left;
    text-transform:uppercase;
}
.menu-departamentos li{
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-departamentos a{
    color:#333333;
    text-decoration: none;
}
.menu-departamentos{
    padding-bottom:10px;
    padding-bottom:10px;
    clear:left;
}
.item-menu{
    text-decoration:none;
}

.sacola{
    background: url(../img/carrinho-compras40x40.png) no-repeat top right;
    font-size: 12px;
    padding-right: 45px;
    padding-top: 8px;
    text-align:right;
    width: 140px;
    position:absolute;
    margin-bottom: 20px;
    bottom:0;
    right:0;

}
.container{
    margin: 0 auto;
    width: 940px;
}
.container-footer{
    margin-top: 0px;    
    width: 940px;
}
/*-------------BUSCA ---------*/
.busca,
.menu-departamentos
{
    background-color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase;    
    margin-right: 10px;
    width: 230px;    
}

.busca h2,
.busca form,
.menu-departamentos h2{    
    margin: 10px;
}
.busca input{
    border-radius: 10px;
    vertical-align: middle;    
}
.busca input[type=search]{
    width: 170px;
}
.busca,
.menu-departamentos{
    float: left;
}


.destaque{
    margin-top: 10px;
 }

 /*-------------PAINEIS ---------*/
 .painel{
    margin:10px0;
    padding:10px;
    width:445px;
}
.painel li{
    display: inline-block;
    vertical-align: top;
    width: 140px;
    margin: 2px;
    padding-bottom: 10px;
}
.paineis{
    margin: 10px;
    padding: 10px;
    width: 445px;
}
.painel h2{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;

}
.painel a{
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.novidades{
        float:left;
        background-color:#f5dcdc;
}
.mais-vendidos{
        float:right;
        background-color:#dcdcf5;
}
.tamanho-img{
    width: 50px;
    height: 50px;

}


/*------------- RODAPÉ ---------*/
footer{
    clear:both;
    background-image:url(../img/rodape.jpg);    
    height:65px;
    width: 900px;
    padding: 10px 0;
    top: 200px;
    position: relative;    
}
.facebook{
    height: 50px;
    width: 85px;
    background-image:url(../img/facebook.png);
    text-indent:-9999px;
}
.social{
    position:absolute;
    top:30px;
    right:0;
}
.social li{
    float:left;
    margin-left:25px;
}
.social a{
    /* tamanho da imagem */
    height:32px;
    width:32px;
    /* image replacement */
    display:block;
    text-indent:-9999px;
}
.social a[href*="facebook.com"]{
    background-image:url(../img/facebook.png);
}
.social a[href*="twitter.com"]{
    background-image:url(../img/twitter.png);
}

.social a[href*="google.com"]{
        background-image:url(../img/googleplus.png);
}
p {
    font-family: monospace;
    text-align: justify;
    line-height: 1.5em;
    font-size: 1.5em;   
}

h1{
    font-family: serif;
    border-left: 1px;
    background-image: url(../img/sobre-background.jpg);  
    
}

.destaque{
	position: relative;
}
.pause,
.play{
	display:block;
	position:absolute;
	right:15px;
	top:15px;
}
.pause{
	border-left:10pxsolid#900;
	border-right:10pxsolid#900;
	height:30px;
	width:5px;
}
.play{
	border-left:25pxsolid#900;
	border-bottom:15pxsolidtransparent;
	border-top:15pxsolidtransparent;
}



.sobre h1{ 
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif; 
    color:rgb(30, 129, 210);
}
    







figure{      
    
    text-align: center;
}
    
figcaption{
    font-style: bold;
}

#logo{        
     
    margin-top: 10px;
    width: 200px;

    height: 30px ;    

}
.img-centro{    
    width:700px;
    height: 275px ; 
}
